
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "tailwindcss";

:root {
  --color-text: #FFFFFF;
  --color-title: #F6832E;
  --color-hover: #CF6F32;
  --color-background-main: #000000;
  --font-serif: "Abril Fatface", "Noto Serif JP", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "Noto Serif JP", serif;
}

html, body {
  background-color: black;
}

@theme {
  --color-text: #FFFFFF;
  --color-title: #F6832E;
  --color-hover: #CF6F32;
  --color-bg-main: #000000;
  --font-abril: "Abril Fatface", "Noto Serif JP", serif;

}